@import 'index';

.spec-item {
    margin-bottom: 5px;
    font-size: 16px;
    padding: 5px 0;
    line-height: 42px;

    &:hover {
        background: #e3fcf9;
    }
}

.cat-icon {
    @include circle(32px);
}
.cat-label {
    font-weight: bold;
    margin-left: 5px;
}